<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2> API REST - CARTEIRA </h2>

    <pre>
        - completar cadastro do usuário - /api/v1/profile/store
    </pre>

    <script>

        var time = new Date();
        var outraData = new Date();
        outraData.setHours(time.getHours() + 2)
        console.log(outraData);

    </script>

</body>

</html>